<div class="profile-card">
  <h2> Profile Card</h2>

  <p>Nama : {{ name }}</p>
  <p>Alamat : {{ address }}</p>
  <p>No. HP : {{ phone }}</p>

  <h3>Update Profile</h3>

  <input type="text" [(ngModel)]="name" placeholder="Masukkan Nama">
  <input type="text" [(ngModel)]="address" placeholder="Masukkan Alamat">
  <input type="number" [(ngModel)]="phone" placeholder="Masukkan No. HP">

</div>

<div class="count-number">
  <h3>Count Number</h3>
  <app-counter></app-counter>
</div>

<div class="todo-list">
  <h3>Todo List</h3>
  <app-todolist></app-todolist>
</div>

<div class="stopwatch">
  <h3>Stopwatch</h3>
  <app-stopwatch></app-stopwatch>
</div>
